.emo_image

.main
  %h1
    %strong Postbank Developer Ressources
  = form_for @user,  html: { class: 'certificate-form' } do |f|
    = f.label 'Name'
    = f.text_field :name
    = f.label 'Email'
    = f.text_field :email
    = f.label 'Address'
    = f.text_field :address
    = f.label 'ZIP'
    = f.text_field :zip
    = f.label 'City'
    = f.text_field :city

    = f.submit 'Jetzt starten', class: 'btn-blue'
