.main
  %h1 Get your post /Bank hackathon certificate here!
  - if flash[:error]
    %p
      There is no certificate for your entries, please try again or contact
      = mail_to 'elisa@hack.institute', 'elisa@hack.institute'
  = form_for :certificate, url: certificate_url, method: 'GET',  html: { class: 'certificate-form' } do |f|
    = f.label 'Email'
    = f.text_field :email
    = f.label 'Booking ID'
    = f.text_field :booking_id
    = f.submit 'Get certificate'
